<ion-header>
    <ion-navbar no-padding color = "toolbar_color" hideBackButton="true">
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col no-padding>
              <button ion-button class="btn" outline id="back-button" color="light" default on-click="goBack()">
                Regresar
              </button>
            </ion-col>
            <ion-col>
              <img src="assets/img/headerLogo.PNG" style="margin-top:5px;width:143px;height:45px;margin-left:auto;margin-right:auto;" />
            </ion-col>
            <ion-col no-padding>
              <button ion-button outline class="btn" float-right id="next-button" color="light" default on-click="goToTDCMismoTitularBFCConfirmar()">
                Continuar
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-navbar>
  </ion-header>
  <ion-content id="page9">
      <div id="mainContainer">
  <img src="assets/img/HeaderTDCmismoTitularBFC.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <div class="spacer" style="width:320px;height:12px;" id="transferenciasMismoTitularBFC-spacer3"></div>
  <div id="transferenciasMismoTitularBFC-markdown18" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      <strong>
        Cuenta Débito
      </strong>
    </p>
  </div>
  
    <form [formGroup]="cuentadebitoForm" novalidate>
        <ion-item id="transferenciasMismoTitularBFC-select5">
          <ion-label> </ion-label> 
              <ion-select name="" formControlName= "cuentadebito"  [(ngModel)]="debit" (ionChange)="changeValueDebit($event)">
                <div *ngFor="let item of userSession.cuentas">
                      <ion-option [selected]=false (ionSelect)="loadSaldoDebt(item)">
                        {{item[6]}}
                      </ion-option>
                </div>
              </ion-select>
        </ion-item>
    </form>
  
    <ion-item-divider color="light" id="transferenciasMismoTitularBFC-list-item-divider2">
      Saldo disponible BsS: {{sdisponible}} 
    </ion-item-divider>
    
  <div id="transferenciasMismoTitularBFC-markdown19" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      <strong>
        Tarjeta a Pagar:
      </strong>
    </p>
  </div>
  
  <form [formGroup]="cuentacreditoForm" novalidate>
      <ion-item id="transferenciasMismoTitularBFC-select7">
        <ion-label></ion-label> 
            <ion-select name="" formControlName= "cuentacredito"  [(ngModel)]="credit" (ionChange)="changeValueCredit($event)">
              <div *ngFor="let item of userSession.cuentas">
                    <ion-option [selected]=false (ionSelect)="loadSaldoCred(item)">
                      {{item[6]}}
                    </ion-option>
              </div>
            </ion-select>
      </ion-item>
  </form>
  
 
    <div class="spacer" style="width:320px;height:12px;" id="transferenciasMismoTitularBFC-spacer5"></div>
    <div id="transferenciasMismoTitularBFC-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>
          Fecha de Pago
        </strong>
      </p>
    </div>
    <ion-item id="transferenciasMismoTitularBFC-input3">
      <ion-label></ion-label>
      <ion-input text-right type="text" placeholder="" [(ngModel)]="fechaPago"></ion-input>
    </ion-item> 
  
  <ion-list radio-group [(ngModel)]="relationship">
      <ion-item>
        <ion-label>Saldo Actual {{saldoActual}}</ion-label>
        <ion-radio value="saldo"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Pago Mínimo {{pagoMinimo}}</ion-label>
        <ion-radio value="pago"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Otro Monto</ion-label>
        <ion-radio value="otro" (ionChange)="enableMonto()"></ion-radio>
      </ion-item>
    </ion-list>

    <form [formGroup]="montoForm" novalidate>
        <div class="spacer" style="width:320px;height:12px;" id="transferenciasMismoTitularBFC-spacer5"></div>
        <div id="transferenciasMismoTitularBFC-markdown20" class="show-list-numbers-and-dots">
          <p style="color:#000000;">
            <strong>
              Monto Bs.  
            </strong>
          </p>
        </div>
        <ion-item id="transferenciasMismoTitularBFC-input3">
          <ion-label></ion-label>
          <ion-input text-right type="number" placeholder="0.00" [disabled]="montoEnable" formControlName= "monto" [(ngModel)]="montoValue"></ion-input>
        </ion-item>
      </form>
</div>
  </ion-content>