<ion-header>
    <ion-navbar no-padding color = "toolbar_color" hideBackButton="true">
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col no-padding>
              <button ion-button class="btn" outline id="back-button" color="light" default on-click="goBack()">
                Regresar
              </button>
            </ion-col>
            <ion-col>
              <img src="assets/img/headerLogo.PNG" style="margin-top:5px;width:143px;height:45px;margin-left:auto;margin-right:auto;" />
            </ion-col>
            <ion-col no-padding>

            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content id="page11">
    <div id="mainContainer">

    <!-- 16 Mismo Titular BFC -->
    <div *ngIf="Cod == 16">
        <img src="assets/img/ARTransferenciaMismoTitularBFC.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>
  
  <!-- 17 Terceros BFC -->
    <div *ngIf="Cod == 17">
        <img src="assets/img/ARTransferenciaTercerosBFC.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>
  
  <!-- 19 Mismo Titular Otros Bancos -->
    <div *ngIf="Cod == 19">
        <img src="assets/img/ARTransferenciaMismoTitularOtrosBancos.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>
  
  <!-- 20 Terceros Otros Bancos -->
    <div *ngIf="Cod == 20">
        <img src="assets/img/ARTransferenciaTercerosOtrosBancos.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>
  
    <div *ngIf="Cod == 24">
        <img src="assets/img/ARTDCMismoTitularBFC.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>
  
    <div *ngIf="Cod == 25">
        <img src="assets/img/ARTDCTercerosBFC.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>
  
    <div *ngIf="Cod == 27">
          <img src="assets/img/ARTDCMismoTitularOtrosBancos.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>
  
    <div *ngIf="Cod == 28">
          <img src="assets/img/ARTDCTercerosOtrosBancos.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>

    <h4><strong>Autorizaciones Pendientes:</strong></h4>
    <div style="display: table; margin: 0 auto;">
        <div *ngIf="estado=='3/0'">
          <!-- Hacer la logica para que se vean las bolitas -->
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
        </div>
        <div *ngIf="estado=='3/1'">
        <!-- Hacer la logica para que se vean las bolitas -->
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
        </div>
        <div *ngIf="estado=='3/2'">
          <!-- Hacer la logica para que se vean las bolitas -->
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
        </div>
        <div *ngIf="estado=='3/3'">
          <!-- Hacer la logica para que se vean las bolitas -->
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
        </div>
        <div *ngIf="estado=='2/0'">
          <!-- Hacer la logica para que se vean las bolitas -->
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/2.PNG"  style="width:20px;height:auto;" /> 
        </div>
        <div *ngIf="estado=='2/1'">
          <!-- Hacer la logica para que se vean las bolitas -->
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />  
        </div>
        <div *ngIf="estado=='2/2'">
          <!-- Hacer la logica para que se vean las bolitas -->
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/2.PNG"  style="width:20px;height:auto;" /> 
        </div>
        <div *ngIf="estado=='1/0'">
          <!-- Hacer la logica para que se vean las bolitas -->
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" /> 
        </div>
        <div *ngIf="estado=='1/1'">
          <!-- Hacer la logica para que se vean las bolitas -->
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />  
        </div>
        <strong></strong>
              <div *ngIf="estado=='3/0'">
                <!-- Hacer la logica para que se vean las bolitas -->
                  <img src="assets/img/GrayBall.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/GrayLine.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/GrayLine.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='3/1'">
              <!-- Hacer la logica para que se vean las bolitas -->
                <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" />
                <img src="assets/img/GrayLine.PNG"  style="width:20px;height:auto;" />
                <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='3/2'">
                <!-- Hacer la logica para que se vean las bolitas -->
                <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" />
                <img src="assets/img/GreenLine.PNG"  style="width:20px;height:auto;" />
                <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='3/3'">
                <!-- Hacer la logica para que se vean las bolitas -->
                <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" />
                <img src="assets/img/GreenLine.PNG"  style="width:20px;height:auto;" />
                <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='2/0'">
                <!-- Hacer la logica para que se vean las bolitas -->
                  <img src="assets/img/GrayBall.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/GrayLine.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" />  
              </div>
              <div *ngIf="estado=='2/1'">
                <!-- Hacer la logica para que se vean las bolitas -->
                <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='2/2'">
                <!-- Hacer la logica para que se vean las bolitas -->
                <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='1/0'">
                <!-- Hacer la logica para que se vean las bolitas -->
                <img src="assets/img/GrayBall.PNG" style="width:20px;height:auto;" />  
              </div>
              <div *ngIf="estado=='1/1'">
                <!-- Hacer la logica para que se vean las bolitas -->
                <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />  
              </div>
</div>


<div class="spacer" style="width:320px;height:16px;" id="transferenciaMismoTitularBFCRecibo-spacer8"></div>

<!-- Esta vista sera la unica empleada para todas las consulta detalle de Aprobacion rechazo -->
<!-- Los NGIF Habilitan cada consulta segun el parametro pasado desde la pantalla principal  -->
<!-- Mismo Titular BFC 24 -->
<!-- Terceros BFC 25 -->
<!-- Mismo Titular Otro Banco 27 -->
<!-- Terceros Otros Bancos 28 --> 
<!-- 16 Mismo Titular BFC -->
<div *ngIf="Cod == 16">
    <form id="transferenciaMismoTitularBFCRecibo-form9">  
      <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
        <ion-label>
            Cuenta Débito
        </ion-label>
        <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
      </ion-item>
      <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
        <ion-label>
            Cuenta Crédito
        </ion-label>
        <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
      </ion-item>
      <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
        <ion-label>
          Monto
        </ion-label>
        <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
      </ion-item>
    </form>
  </div>

<!-- 17 Terceros BFC -->
  <div *ngIf="Cod == 17">
      <form id="transferenciaMismoTitularBFCRecibo-form9">  
          <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
              <ion-label>
                Cuenta Débito
              </ion-label>
              <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
              <ion-label>
                Cuenta Crédito
              </ion-label>
              <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
              <ion-label>
                Beneficiario
              </ion-label>
              <ion-input text-right type="text"  placeholder="{{OP_Beneficiario}}" ></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
              <ion-label>
                Identificación del Beneficiario
              </ion-label>
              <ion-input text-right type="text"  placeholder="{{OP_IdBeneficiario}}" ></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
              <ion-label>
                Monto
              </ion-label>
              <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
              <ion-label>
                Concepto
              </ion-label>
              <ion-input  text-right type="text" placeholder="{{OP_Concepto}}"></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
              <ion-label>
                Email
              </ion-label>
              <ion-input  text-right type="text" placeholder="{{OP_Mail}}"></ion-input>
            </ion-item>
      </form>
    </div>

<!-- 19 Mismo Titular Otros Bancos -->
    <div *ngIf="Cod == 19">
        <form id="transferenciaMismoTitularBFCRecibo-form9">  
            <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                  Cuenta Débito
                </ion-label>
                <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                <ion-label>
                  Cuenta Crédito
                </ion-label>
                <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Banco
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{BANK_NOMBRE}}" ></ion-input>
                </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                <ion-label>
                  Beneficiario
                </ion-label>
                <ion-input text-right type="text"  placeholder="{{OP_Beneficiario}}" ></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                <ion-label>
                  Identificación del Beneficiario
                </ion-label>
                <ion-input text-right type="text"  placeholder="{{OP_IdBeneficiario}}" ></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                <ion-label>
                  Monto
                </ion-label>
                <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                <ion-label>
                  Concepto
                </ion-label>
                <ion-input  text-right type="text" placeholder="{{OP_Concepto}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                <ion-label>
                  Email
                </ion-label>
                <ion-input  text-right type="text" placeholder="{{OP_Mail}}"></ion-input>
              </ion-item>
        </form>
      </div>

<!-- 20 Terceros Otros Bancos -->
      <div *ngIf="Cod == 20">
          <form id="transferenciaMismoTitularBFCRecibo-form9">  
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                    Cuenta Débito
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Cuenta Crédito
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                    <ion-label>
                      Banco
                    </ion-label>
                    <ion-input text-right type="text"  placeholder="{{BANK_NOMBRE}}" ></ion-input>
                  </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Beneficiario
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{OP_Beneficiario}}" ></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Identificación del Beneficiario
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{OP_IdBeneficiario}}" ></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                  <ion-label>
                    Monto
                  </ion-label>
                  <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                  <ion-label>
                    Concepto
                  </ion-label>
                  <ion-input  text-right type="text" placeholder="{{OP_Concepto}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                  <ion-label>
                    Email
                  </ion-label>
                  <ion-input  text-right type="text" placeholder="{{OP_Mail}}"></ion-input>
                </ion-item>
          </form>
        </div>

<div *ngIf="Cod == 24">
    <form id="transferenciaMismoTitularBFCRecibo-form9">  
      <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
        <ion-label>
            Cuenta Débito
        </ion-label>
        <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
      </ion-item>
      <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
        <ion-label>
          Tarjeta a Pagar
        </ion-label>
        <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
      </ion-item>
      <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
        <ion-label>
          Monto
        </ion-label>
        <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
      </ion-item>
    </form>
  </div>

  <div *ngIf="Cod == 25">
      <form id="transferenciaMismoTitularBFCRecibo-form9"> 
          <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
              <ion-label>
                  Cuenta Débito
              </ion-label>
              <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
              <ion-label>
                Tarjeta a pagar
              </ion-label>
              <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
              <ion-label>
                Beneficiario
              </ion-label>
              <ion-input text-right type="text"  placeholder="{{OP_Beneficiario}}" ></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
              <ion-label>
                Identificación del Beneficiario
              </ion-label>
              <ion-input text-right type="text"  placeholder="{{OP_IdBeneficiario}}" ></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
              <ion-label>
                Monto
              </ion-label>
              <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
              <ion-label>
                Concepto
              </ion-label>
              <ion-input  text-right type="text" placeholder="{{OP_Concepto}}"></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
              <ion-label>
                Email
              </ion-label>
              <ion-input  text-right type="text" placeholder="{{OP_Mail}}"></ion-input>
            </ion-item>
      </form>
    </div>

    <div *ngIf="Cod == 27">
        <form id="transferenciaMismoTitularBFCRecibo-form9"> 
          <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
            <ion-label>
                Cuenta Débito
            </ion-label>
            <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
          </ion-item>
          <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
            <ion-label>
              Tarjeta a pagar
            </ion-label>
            <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
          </ion-item>
          <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
            <ion-label>
              Banco
            </ion-label>
            <ion-input text-right type="text"  placeholder="{{BANK_NOMBRE}}" ></ion-input>
          </ion-item>
          <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
            <ion-label>
              Beneficiario
            </ion-label>
            <ion-input text-right type="text"  placeholder="{{OP_Beneficiario}}" ></ion-input>
          </ion-item>
          <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
            <ion-label>
              Identificación del Beneficiario
            </ion-label>
            <ion-input text-right type="text"  placeholder="{{OP_IdBeneficiario}}" ></ion-input>
          </ion-item>
          <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
            <ion-label>
              Monto
            </ion-label>
            <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
          </ion-item>
          <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
            <ion-label>
              Concepto
            </ion-label>
            <ion-input  text-right type="text" placeholder="{{OP_Concepto}}"></ion-input>
          </ion-item>
          <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
            <ion-label>
              Email
            </ion-label>
            <ion-input  text-right type="text" placeholder="{{OP_Mail}}"></ion-input>
          </ion-item>
        </form>
      </div>

      <div *ngIf="Cod == 28">
          <form id="transferenciaMismoTitularBFCRecibo-form9"> 
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Cuenta Débito
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Tarjeta a pagar
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Banco
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{BANK_NOMBRE}}" ></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Beneficiario
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{OP_Beneficiario}}" ></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Identificación del Beneficiario
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{OP_IdBeneficiario}}" ></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                  <ion-label>
                    Monto
                  </ion-label>
                  <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                  <ion-label>
                    Concepto
                  </ion-label>
                  <ion-input  text-right type="text" placeholder="{{OP_Concepto}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                  <ion-label>
                    Email
                  </ion-label>
                  <ion-input  text-right type="text" placeholder="{{OP_Mail}}"></ion-input>
                </ion-item>
          </form>
        </div>
</div>
  </ion-content>