<ion-header>
    <ion-navbar no-padding color = "toolbar_color" hideBackButton="true">
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col no-padding>
              <button ion-button class="btn" outline id="back-button" color="light" default on-click="goBack()">
                Regresar
              </button>
            </ion-col>
            <ion-col>
              <img src="assets/img/headerLogo.PNG" style="width:143px;height:45px;margin-left:auto;margin-right:auto;" />
            </ion-col>
            <ion-col no-padding>

            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>
<ion-content id="page6">
  <img src="assets/img/ocCnYdGKS7av9nbEMIKh_detalleHeader.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <form id="detalleDeLaCuenta-form2">
    <ion-item id="detalleDeLaCuenta-select1">
      <ion-label></ion-label>

      <ion-select name="accounts" >
                <ion-option (ionSelect)="reloadAccountData(item)" *ngFor="let item of cuentas">
                  {{item[0]}}
                </ion-option>
      </ion-select>

    </ion-item>
  </form>
  <div id="detalleDeLaCuenta-markdown5" class="show-list-numbers-and-dots">
    <p style="color:#000000;font-size:12px;">
      <strong>
        Saldo Disponible
      </strong>
    </p>
    <p style="color:#000000;font-size:12px;">
      {{SDisponible}} BsS
    </p>
  </div>
  <div id="detalleDeLaCuenta-markdown6" class="show-list-numbers-and-dots"></div>
  <div id="detalleDeLaCuenta-markdown7" class="show-list-numbers-and-dots">
    <p style="color:#000000;font-size:12px;">
      <strong>
        Saldo Bloqueado
      </strong>
    </p>
    <p style="color:#000000;font-size:12px;">
        {{SBloqueado}} BsS
    </p>
  </div>
  <div id="detalleDeLaCuenta-markdown9" class="show-list-numbers-and-dots">
    <p style="color:#000000;font-size:12px;">
      <strong>
        Saldo Diferido
      </strong>
    </p>
    <p style="color:#000000;font-size:12px;">
        {{SDiferido}} BsS
    </p>
  </div>
  <div id="detalleDeLaCuenta-markdown9" class="show-list-numbers-and-dots">
    <p style="color:#000000;font-size:12px;">
      <strong>
        Saldo Contable
      </strong>
    </p>
    <p style="color:#000000;font-size:12px;">
        {{SContable}} BsS
    </p>
  </div>
  <div id="detalleDeLaCuenta-markdown10" class="show-list-numbers-and-dots"></div>
  <form id="detalleDeLaCuenta-form3">
    <ion-item id="detalleDeLaCuenta-select2">
      <ion-label>
        Seleccionar
      </ion-label>
      <ion-select name="Cuenta Corriente ...3210">
        <ion-option>
          Últimos 20 movimientos
        </ion-option>
        <ion-option>
          Diciembre 2018
        </ion-option>
        <ion-option>
          Noviembre 2018
        </ion-option>
        <ion-option>
          Octubre 2018
        </ion-option>
        <ion-option>
          Septiembre 2018
        </ion-option>
        <ion-option>
          Agosto 2018
        </ion-option>
        <ion-option>
          Julio 2018
        </ion-option>
        <ion-option>
          Junio 2018
        </ion-option>
        <ion-option>
          Mayo 2018
        </ion-option>
        <ion-option>
          Abril 2018
        </ion-option>
        <ion-option>
          Marzo 2018
        </ion-option>
        <ion-option>
          Febrero 2018
        </ion-option>
      </ion-select>
    </ion-item>
    
    <div *ngFor="let item of listvalores"> 
        <ion-item color="none" id="detalleDeLaCuenta-list-item22">
            <div *ngIf=!item[2]>
                <ion-avatar item-left>
                  <img src="assets/img/kLOhOKoRXisEOjdzXoxp_redArrow.PNG" />
                </ion-avatar>
                {{item[0]}}, {{item[1]}}
            </div>
            <div *ngIf=item[2]>
                <ion-avatar item-left>
                  <img src="assets/img/0XwJNcKWSyqYlLDAJcmW_greenArrow.PNG" />
                </ion-avatar>
                {{item[0]}}, {{item[1]}}
            </div>
          </ion-item>
    </div>
    



  </form>
</ion-content>