<ion-header>
    <ion-navbar no-padding color = "toolbar_color" hideBackButton="true">
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col no-padding>
              <button ion-button class="btn" outline id="back-button" color="light" default on-click="goBack()">
                Regresar
              </button>
            </ion-col>
            <ion-col>
              <img src="assets/img/headerLogo.PNG" style="width:143px;height:45px;margin-left:auto;margin-right:auto;" />
            </ion-col>
            <ion-col no-padding>

            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>
<ion-content id="page6">
  <img src="assets/img/ocCnYdGKS7av9nbEMIKh_detalleHeader.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <form id="detalleDeLaCuenta-form2">
    <ion-item id="detalleDeLaCuenta-select1">
      <ion-label>Cuenta: </ion-label> 
          <ion-select name="accounts" >
            <div *ngFor="let item of cuentas">
                  <div *ngIf="item[0] == cuentaselected[0]"> 
                    <ion-option (ionSelect)="middlewareMethodAccounts(item)" [selected]=true>
                      {{item[0]}}
                    </ion-option>
                  </div>
                  <div *ngIf="item[0] != cuentaselected[0]"> 
                    <ion-option (ionSelect)="middlewareMethodAccounts(item)" [selected]=false>
                      {{item[0]}}
                    </ion-option>
                  </div>
            </div>
          </ion-select>
    </ion-item>

  </form>
  <ion-grid>
    <ion-row>
      <ion-col>
          <div id="detalleDeLaCuenta-markdown5" class="show-list-numbers-and-dots">
              <p style="color:#000000;font-size:12px;">
                <strong>
                  Saldo Disponible
                </strong>
              </p>
              <p style="color:#000000;font-size:12px;">
                {{SDisponible}} BsS
              </p>
            </div>
      </ion-col>
      <ion-col>
          <div id="detalleDeLaCuenta-markdown7" class="show-list-numbers-and-dots">
              <p style="color:#000000;font-size:12px;">
                <strong>
                  Saldo Bloqueado
                </strong>
              </p>
              <p style="color:#000000;font-size:12px;">
                  {{SBloqueado}} BsS
              </p>
            </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <div id="detalleDeLaCuenta-markdown9" class="show-list-numbers-and-dots">
              <p style="color:#000000;font-size:12px;">
                <strong>
                  Saldo Diferido
                </strong>
              </p>
              <p style="color:#000000;font-size:12px;">
                  {{SDiferido}} BsS
              </p>
            </div>
      </ion-col>
      <ion-col>
          <div id="detalleDeLaCuenta-markdown9" class="show-list-numbers-and-dots">
            <p style="color:#000000;font-size:12px;">
              <strong>
                Saldo Contable
              </strong>
            </p>
            <p style="color:#000000;font-size:12px;">
                {{SContable}} BsS
            </p>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid> 
  <form id="detalleDeLaCuenta-form3">

  <ion-item>
    <ion-label>
      Seleccionar
    </ion-label>
    <ion-select name="ListOfMonths" >
      <div *ngFor="let item of listmeses"> 
          <div *ngIf="checkFirstTime">
            <div *ngIf="item[1] == 0">
              <ion-option (ionSelect)="middlewareMethodDates(item)" [selected]=true>
                {{item[0]}}
              </ion-option>  
            </div>
            <div *ngIf="item[1] != 0">
                <ion-option (ionSelect)="middlewareMethodDates(item)" [selected]=false>
                  {{item[0]}}
                </ion-option>  
              </div>
          </div>  
          <div *ngIf="!checkFirstTime">
            <div *ngIf="sortingListDates[0] == item[0]">
                <ion-option (ionSelect)="middlewareMethodDates(item)" [selected]=true>
                  {{item[0]}}
                </ion-option> 
            </div>
            <div *ngIf="sortingListDates[0] != item[0]">
                <ion-option (ionSelect)="middlewareMethodDates(item)" [selected]=false>
                  {{item[0]}}
                </ion-option> 
            </div>
          </div>  
      </div>
    </ion-select>
  </ion-item>
    
    <div *ngFor="let item of listvalores"> 
        <ion-item color="none" id="detalleDeLaCuenta-list-item22">
            <div *ngIf=!item[2]>
              <ion-grid>
                <ion-row>
                  <ion-col>
                      <ion-avatar item-left>
                          <img src="assets/img/kLOhOKoRXisEOjdzXoxp_redArrow.PNG" />
                      </ion-avatar>
                  </ion-col>
                  <ion-col>
                    {{item[0]}}
                  </ion-col>
                  <ion-col>
                    {{item[1]}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div *ngIf=item[2]>
                <ion-grid>
                    <ion-row>
                      <ion-col>
                          <ion-avatar item-left>
                              <img src="assets/img/0XwJNcKWSyqYlLDAJcmW_greenArrow.PNG" />
                          </ion-avatar>
                      </ion-col>
                      <ion-col>
                        {{item[0]}}
                      </ion-col>
                      <ion-col>
                        {{item[1]}}
                      </ion-col>
                    </ion-row>
                  </ion-grid>
            </div>
          </ion-item>
    </div>
    <div *ngIf="listvalores.length==0">
      <h3>
        No existen movimientos en esta cuenta
      </h3>
    </div>


  </form>
</ion-content>
