<ion-header>
  <ion-navbar no-padding hideBackButton="true">
      <ion-grid no-padding no-border style="width:auto;height:70px;">
        <ion-row no-padding >
          <ion-col class="topleft">
            <img src="assets/img/regresar.PNG" style="margin-top:10px;margin-left:5px;margin-bottom:10px;width:auto;height:45px" outline class="btn" float-left id="next-button" default  on-click="goBack()">
          </ion-col>
          <ion-col class="topleft">
            <img src="assets/img/headerLogo1.PNG" float-right style="width:auto;height:70px;margin-left:auto;margin-right:auto;" />
          </ion-col>
          <ion-col class="topright">
            <img src="assets/img/headerLogo2.PNG" float-left style="width:auto;height:70px;margin-left:auto;margin-right:auto;" />
          </ion-col>
          <ion-col class="topright">
            <div *ngIf="(Cod == 64)||(Cod == 32)">
              <img src="assets/img/continuar.PNG" style="margin-top:10px;margin-left:5px;margin-bottom:10px;width:auto;height:45px" outline class="btn" float-right id="next-button" default  on-click="goBack()">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content id="page11">
    <div id="mainContainer">

    <!-- 16 Mismo Titular BFC -->
    <div *ngIf="Cod == 16">
        <img src="assets/img/ARTransferenciaMismoTitularBFC.PNG" style="margin-top:10px;display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>
  
  <!-- 17 Terceros BFC -->
    <div *ngIf="Cod == 17">
        <img src="assets/img/ARTransferenciaTercerosBFC.PNG" style="margin-top:10px;display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>
  
  <!-- 19 Mismo Titular Otros Bancos -->
    <div *ngIf="Cod == 19">
        <img src="assets/img/ARTransferenciaMismoTitularOtrosBancos.PNG" style="margin-top:10px;display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>
  
  <!-- 20 Terceros Otros Bancos -->
    <div *ngIf="Cod == 20">
        <img src="assets/img/ARTransferenciaTercerosOtrosBancos.PNG" style="margin-top:10px;display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>
  
    <div *ngIf="Cod == 24">
        <img src="assets/img/ARTDCMismoTitularBFC.PNG" style="margin-top:10px;display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>
  
    <div *ngIf="Cod == 25">
        <img src="assets/img/ARTDCTercerosBFC.PNG" style="margin-top:10px;display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>
  
    <div *ngIf="Cod == 27">
          <img src="assets/img/ARTDCMismoTitularOtrosBancos.PNG" style="margin-top:10px;display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>
  
    <div *ngIf="Cod == 28">
          <img src="assets/img/ARTDCTercerosOtrosBancos.PNG" style="margin-top:10px;display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>

    <!-- 32 para Nómina -->
    <div *ngIf="Cod == 32">
      <img src="assets/img/pagoNominaHeader.PNG" style="margin-top:10px;display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>

    <!-- 64 para Proveedores -->
    <div *ngIf="Cod == 64">
      <img src="assets/img/pagoProveedoresHeader.PNG" style="margin-top:10px;display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </div>

    <h4><strong>Autorizaciones Pendientes:</strong></h4>
    <div style="display: table; margin: 0 auto;">
        <div *ngIf="estado=='3/0'">
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
        </div>
        <div *ngIf="estado=='3/1'">
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
        </div>
        <div *ngIf="estado=='3/2'">
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
        </div>
        <div *ngIf="estado=='3/3'">
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
            <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
        </div>
        <div *ngIf="estado=='2/0'">
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/2.PNG"  style="width:20px;height:auto;" /> 
        </div>
        <div *ngIf="estado=='2/1'">
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />  
        </div>
        <div *ngIf="estado=='2/2'">
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
            <img src="assets/img/2.PNG"  style="width:20px;height:auto;" /> 
        </div>
        <div *ngIf="estado=='1/0'">
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" /> 
        </div>
        <div *ngIf="estado=='1/1'">
            <img src="assets/img/1.PNG" style="width:20px;height:auto;" />  
        </div>
        <strong></strong>
              <div *ngIf="estado=='3/0'">
                  <img src="assets/img/GrayBall.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/GrayLine.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/GrayLine.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='3/1'">
                <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" />
                <img src="assets/img/GrayLine.PNG"  style="width:20px;height:auto;" />
                <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='3/2'">
                <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" />
                <img src="assets/img/GreenLine.PNG"  style="width:20px;height:auto;" />
                <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='3/3'">
                <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" />
                <img src="assets/img/GreenLine.PNG"  style="width:20px;height:auto;" />
                <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='2/0'">
                  <img src="assets/img/GrayBall.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/GrayLine.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" />  
              </div>
              <div *ngIf="estado=='2/1'">
                <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='2/2'">
                <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='1/0'">
                <img src="assets/img/GrayBall.PNG" style="width:20px;height:auto;" />  
              </div>
              <div *ngIf="estado=='1/1'">
                <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />  
              </div>
</div>


<div class="spacer" style="width:320px;height:16px;" id="transferenciaMismoTitularBFCRecibo-spacer8"></div>

<!-- Esta vista sera la unica empleada para todas las consulta detalle de Aprobacion rechazo -->
<!-- Los NGIF Habilitan cada consulta segun el parametro pasado desde la pantalla principal  -->
<!-- Mismo Titular BFC 24 -->
<!-- Terceros BFC 25 -->
<!-- Mismo Titular Otro Banco 27 -->
<!-- Terceros Otros Bancos 28 --> 
<!-- 16 Mismo Titular BFC -->
<div *ngIf="Cod == 16">
    <form id="transferenciaMismoTitularBFCRecibo-form9">  
      <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
        <ion-label>
            Cuenta Débito
        </ion-label>
        <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
      </ion-item>
      <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
        <ion-label>
            Cuenta Crédito
        </ion-label>
        <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
      </ion-item>
      <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
        <ion-label>
          Monto
        </ion-label>
        <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
      </ion-item>
    </form>
  </div>

<!-- 17 Terceros BFC -->
  <div *ngIf="Cod == 17">
      <form id="transferenciaMismoTitularBFCRecibo-form9">  
          <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
              <ion-label>
                Cuenta Débito
              </ion-label>
              <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
              <ion-label>
                Cuenta Crédito
              </ion-label>
              <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
              <ion-label>
                Beneficiario
              </ion-label>
              <ion-input text-right type="text"  placeholder="{{OP_Beneficiario}}" ></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
              <ion-label>
                Identificación del Beneficiario
              </ion-label>
              <ion-input text-right type="text"  placeholder="{{OP_IdBeneficiario}}" ></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
              <ion-label>
                Monto
              </ion-label>
              <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
              <ion-label>
                Concepto
              </ion-label>
              <ion-input  text-right type="text" placeholder="{{OP_Concepto}}"></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
              <ion-label>
                Email
              </ion-label>
              <ion-input  text-right type="text" placeholder="{{OP_Mail}}"></ion-input>
            </ion-item>
      </form>
    </div>

<!-- 19 Mismo Titular Otros Bancos -->
    <div *ngIf="Cod == 19">
        <form id="transferenciaMismoTitularBFCRecibo-form9">  
            <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                  Cuenta Débito
                </ion-label>
                <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                <ion-label>
                  Cuenta Crédito
                </ion-label>
                <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Banco
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{BANK_NOMBRE}}" ></ion-input>
                </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                <ion-label>
                  Beneficiario
                </ion-label>
                <ion-input text-right type="text"  placeholder="{{OP_Beneficiario}}" ></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                <ion-label>
                  Identificación del Beneficiario
                </ion-label>
                <ion-input text-right type="text"  placeholder="{{OP_IdBeneficiario}}" ></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                <ion-label>
                  Monto
                </ion-label>
                <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                <ion-label>
                  Concepto
                </ion-label>
                <ion-input  text-right type="text" placeholder="{{OP_Concepto}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                <ion-label>
                  Email
                </ion-label>
                <ion-input  text-right type="text" placeholder="{{OP_Mail}}"></ion-input>
              </ion-item>
        </form>
      </div>

<!-- 20 Terceros Otros Bancos -->
      <div *ngIf="Cod == 20">
          <form id="transferenciaMismoTitularBFCRecibo-form9">  
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                    Cuenta Débito
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Cuenta Crédito
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                    <ion-label>
                      Banco
                    </ion-label>
                    <ion-input text-right type="text"  placeholder="{{BANK_NOMBRE}}" ></ion-input>
                  </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Beneficiario
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{OP_Beneficiario}}" ></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Identificación del Beneficiario
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{OP_IdBeneficiario}}" ></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                  <ion-label>
                    Monto
                  </ion-label>
                  <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                  <ion-label>
                    Concepto
                  </ion-label>
                  <ion-input  text-right type="text" placeholder="{{OP_Concepto}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                  <ion-label>
                    Email
                  </ion-label>
                  <ion-input  text-right type="text" placeholder="{{OP_Mail}}"></ion-input>
                </ion-item>
          </form>
        </div>

<div *ngIf="Cod == 24">
    <form id="transferenciaMismoTitularBFCRecibo-form9">  
      <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
        <ion-label>
            Cuenta Débito
        </ion-label>
        <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
      </ion-item>
      <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
        <ion-label>
          Tarjeta a Pagar
        </ion-label>
        <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
      </ion-item>
      <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
        <ion-label>
          Monto
        </ion-label>
        <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
      </ion-item>
    </form>
  </div>

  <div *ngIf="Cod == 25">
      <form id="transferenciaMismoTitularBFCRecibo-form9"> 
          <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
              <ion-label>
                  Cuenta Débito
              </ion-label>
              <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
              <ion-label>
                Tarjeta a pagar
              </ion-label>
              <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
              <ion-label>
                Beneficiario
              </ion-label>
              <ion-input text-right type="text"  placeholder="{{OP_Beneficiario}}" ></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
              <ion-label>
                Identificación del Beneficiario
              </ion-label>
              <ion-input text-right type="text"  placeholder="{{OP_IdBeneficiario}}" ></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
              <ion-label>
                Monto
              </ion-label>
              <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
              <ion-label>
                Concepto
              </ion-label>
              <ion-input  text-right type="text" placeholder="{{OP_Concepto}}"></ion-input>
            </ion-item>
            <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
              <ion-label>
                Email
              </ion-label>
              <ion-input  text-right type="text" placeholder="{{OP_Mail}}"></ion-input>
            </ion-item>
      </form>
    </div>

    <div *ngIf="Cod == 27">
        <form id="transferenciaMismoTitularBFCRecibo-form9"> 
          <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
            <ion-label>
                Cuenta Débito
            </ion-label>
            <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
          </ion-item>
          <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
            <ion-label>
              Tarjeta a pagar
            </ion-label>
            <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
          </ion-item>
          <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
            <ion-label>
              Banco
            </ion-label>
            <ion-input text-right type="text"  placeholder="{{BANK_NOMBRE}}" ></ion-input>
          </ion-item>
          <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
            <ion-label>
              Beneficiario
            </ion-label>
            <ion-input text-right type="text"  placeholder="{{OP_Beneficiario}}" ></ion-input>
          </ion-item>
          <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
            <ion-label>
              Identificación del Beneficiario
            </ion-label>
            <ion-input text-right type="text"  placeholder="{{OP_IdBeneficiario}}" ></ion-input>
          </ion-item>
          <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
            <ion-label>
              Monto
            </ion-label>
            <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
          </ion-item>
          <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
            <ion-label>
              Concepto
            </ion-label>
            <ion-input  text-right type="text" placeholder="{{OP_Concepto}}"></ion-input>
          </ion-item>
          <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
            <ion-label>
              Email
            </ion-label>
            <ion-input  text-right type="text" placeholder="{{OP_Mail}}"></ion-input>
          </ion-item>
        </form>
      </div>

      <div *ngIf="Cod == 28">
          <form id="transferenciaMismoTitularBFCRecibo-form9"> 
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Cuenta Débito
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Tarjeta a pagar
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{cuentaCredito}}" ></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Banco
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{BANK_NOMBRE}}" ></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Beneficiario
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{OP_Beneficiario}}" ></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
                  <ion-label>
                    Identificación del Beneficiario
                  </ion-label>
                  <ion-input text-right type="text"  placeholder="{{OP_IdBeneficiario}}" ></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                  <ion-label>
                    Monto
                  </ion-label>
                  <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                  <ion-label>
                    Concepto
                  </ion-label>
                  <ion-input  text-right type="text" placeholder="{{OP_Concepto}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
                  <ion-label>
                    Email
                  </ion-label>
                  <ion-input  text-right type="text" placeholder="{{OP_Mail}}"></ion-input>
                </ion-item>
          </form>
        </div>

        <div *ngIf="Cod == 32">
          <form id="transferenciaMismoTitularBFCRecibo-form9"> 
            <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                    Estado del Lote
                </ion-label>
                <ion-input text-right type="text" placeholder="{{EstadoLote}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                    Número del Lote
                </ion-label>
                <ion-input text-right type="text" placeholder="{{OP_CodeTran}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                    Nombre del Lote
                </ion-label>
                <ion-input text-right type="text" placeholder="{{NombreArchivo}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                    Tipo de Carga
                </ion-label>
                <ion-input text-right type="text" placeholder="{{TipoCarga}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                    Usuario que Procesó
                </ion-label>
                <ion-input text-right type="text" placeholder="{{usuarioProceso}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                    Correo
                </ion-label>
                <ion-input text-right type="text" placeholder="{{correoUsuario}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                    Cuenta Origen
                </ion-label>
                <ion-input text-right type="text" placeholder="{{CuentaDebitar}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                    Total Registros
                </ion-label>
                <ion-input text-right type="text" placeholder="{{TotalRegistros}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                    Cantidad de Rechazos
                </ion-label>
                <ion-input text-right type="text" placeholder=""></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                    Monto Total
                </ion-label>
                <ion-input text-right type="text" placeholder="{{Monto}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                    Motivo del Pago
                </ion-label>
                <ion-input text-right type="text" placeholder="{{MotivoPago}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                    Fecha valor Efectiva
                </ion-label>
                <ion-input text-right type="text" placeholder="{{fechaEfectiva}}"></ion-input>
              </ion-item>
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                <ion-label>
                    Hora valor Efectiva
                </ion-label>
                <ion-input text-right type="text" placeholder="{{horaEfectiva}}"></ion-input>
              </ion-item>
        </form>
        </div>

        <div *ngIf="Cod == 64">
          <form id="transferenciaMismoTitularBFCRecibo-form9"> 
              <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Estado del Lote
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{EstadoLote}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Número del Lote
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{OP_CodeTran}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Nombre del Lote
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{NombreArchivo}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Tipo de Carga
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{TipoCarga}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Usuario que Procesó
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{usuarioProceso}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Correo
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{correoUsuario}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Cuenta Origen
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{CuentaDebitar}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Total Registros
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{TotalRegistros}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Cantidad de Rechazos
                  </ion-label>
                  <ion-input text-right type="text" placeholder=""></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Monto Total
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{Monto}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Motivo del Pago
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{MotivoPago}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Fecha valor Efectiva
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{fechaEfectiva}}"></ion-input>
                </ion-item>
                <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
                  <ion-label>
                      Hora valor Efectiva
                  </ion-label>
                  <ion-input text-right type="text" placeholder="{{horaEfectiva}}"></ion-input>
                </ion-item>
          </form>
        </div>
        <div class="spacer" style="width:320px;height:16px;" id="transferenciaMismoTitularBFCRecibo-spacer8"></div>

        <div *ngIf="(Cod != 64)&&(Cod != 32)">
          <ion-grid>
            <ion-row>
            <ion-col>
                  <img src="assets/img/aprobar.PNG" style="margin-left:auto;margin-right:auto;width:auto;height:50px" outline class="btn" id="next-button" default on-click="confirm()"/>
            </ion-col>
            <ion-col>
                <img src="assets/img/rechazar.PNG" style="margin-left:auto;margin-right:auto;width:auto;height:50px" outline class="btn" id="next-button" default on-click="reject()"/>
            </ion-col>
          </ion-row>
          </ion-grid>
        </div>


  </div>
  </ion-content>