<ion-header>
  <ion-navbar no-padding hideBackButton="true">
      <ion-grid no-padding no-border style="width:auto;height:70px;">
        <ion-row no-padding >
          <ion-col class="topleft">
            
          </ion-col>
          <ion-col class="topleft">
            <img src="assets/img/headerLogo1.PNG" float-right style="width:auto;height:70px;margin-left:auto;margin-right:auto;" />
          </ion-col>
          <ion-col class="topright">
            <img src="assets/img/headerLogo2.PNG" float-left style="width:auto;height:70px;margin-left:auto;margin-right:auto;" />
          </ion-col>
          <ion-col class="topright">
            <img src="assets/img/finalizar.PNG" style="margin-top:10px;margin-left:5px;margin-bottom:10px;width:auto;height:45px" outline class="btn" float-right id="next-button" default on-click="goToWelcome()"/>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content id="page11">
    <div id="mainContainer">
      <div id="recibo"> 
  <img src="assets/img/HeaderTDCTercerosOtrosBancos.PNG" style="margin-top:10px;display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <div class="spacer" style="width:320px;height:16px;" id="transferenciaMismoTitularBFCRecibo-spacer8"></div>
  
  <div *ngIf="checkFirmas=='true'">
      <ion-list id="transferenciaMismoTitularBFCRecibo-list7">
        <ion-item color="none" id="transferenciaMismoTitularBFCRecibo-list-item36">
          <ion-icon name="checkmark" item-left></ion-icon>
          Operación Realizada
        </ion-item>
      </ion-list>
  </div>
    
      <div *ngIf="checkFirmas=='false'">
          <ion-list id="transferenciaMismoTitularBFCRecibo-list7">
            <ion-item color="none" id="transferenciaMismoTitularBFCRecibo-list-item36">
              Su operación se registró en el Sistema, a la espera de las autorizaciones requeridas
            </ion-item>
          </ion-list>
      </div>

      <div *ngIf="checkFirmas=='rechazado'">
          <ion-list id="transferenciaMismoTitularBFCRecibo-list7">
            <ion-item color="none" id="transferenciaMismoTitularBFCRecibo-list-item36">
                Operación Rechazada
            </ion-item>
          </ion-list>
      </div>

      <div *ngIf="(checkFirmas=='rechazado')&&(checkAprobaciones == 'true')">
          <h4><strong>Autorizaciones:</strong></h4>
          <div style="display: table; margin: 0 auto;">
              <div *ngIf="estado=='3/0'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='3/1'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='3/2'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='3/3'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='2/0'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/2.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='2/1'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />  
              </div>
              <div *ngIf="estado=='2/2'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/2.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='1/0'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='1/1'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />  
              </div>
              <strong></strong>
                    <div *ngIf="estado=='3/0'">
                        <img src="assets/img/RedBall.PNG" style="width:20px;height:auto;" />
                        <img src="assets/img/GrayLine.PNG" style="width:20px;height:auto;" />
                        <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" />
                        <img src="assets/img/GrayLine.PNG"  style="width:20px;height:auto;" />
                        <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" /> 
                    </div>
                    <div *ngIf="estado=='3/1'">
                      <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/RedLine.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/RedBall.PNG"  style="width:20px;height:auto;" />
                      <img src="assets/img/GrayLine.PNG"  style="width:20px;height:auto;" />
                      <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" /> 
                    </div>
                    <div *ngIf="estado=='3/2'">
                      <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" />
                      <img src="assets/img/RedLine.PNG"  style="width:20px;height:auto;" />
                      <img src="assets/img/RedBall.PNG"  style="width:20px;height:auto;" /> 
                    </div>
                    <div *ngIf="estado=='3/3'">
                      <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" />
                      <img src="assets/img/GreenLine.PNG"  style="width:20px;height:auto;" />
                      <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" /> 
                    </div>
                    <div *ngIf="estado=='2/0'">
                        <img src="assets/img/RedBall.PNG" style="width:20px;height:auto;" />
                        <img src="assets/img/RedLine.PNG" style="width:20px;height:auto;" />
                        <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" />  
                    </div>
                    <div *ngIf="estado=='2/1'">
                      <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/RedLine.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/RedBall.PNG"  style="width:20px;height:auto;" /> 
                    </div>
                    <div *ngIf="estado=='2/2'">
                      <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" /> 
                    </div>
                    <div *ngIf="estado=='1/0'">
                      <img src="assets/img/RedBall.PNG" style="width:20px;height:auto;" />  
                    </div>
                    <div *ngIf="estado=='1/1'">
                      <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />  
                    </div>
            </div>
        </div>
        <div *ngIf="(checkFirmas!='rechazado')&&(checkAprobaciones == 'true')">
          <h4><strong>Autorizaciones:</strong></h4>
          <div style="display: table; margin: 0 auto;">
              <div *ngIf="estado=='3/0'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='3/1'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='3/2'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='3/3'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG"  style="width:20px;height:auto;" />
                  <img src="assets/img/3.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='2/0'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/2.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='2/1'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/2.PNG"  style="width:20px;height:auto;" />  
              </div>
              <div *ngIf="estado=='2/2'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/space.PNG" style="width:20px;height:auto;" />
                  <img src="assets/img/2.PNG"  style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='1/0'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" /> 
              </div>
              <div *ngIf="estado=='1/1'">
                  <img src="assets/img/1.PNG" style="width:20px;height:auto;" />  
              </div>
              <strong></strong>
                    <div *ngIf="estado=='3/0'">
                        <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                        <img src="assets/img/GrayLine.PNG" style="width:20px;height:auto;" />
                        <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" />
                        <img src="assets/img/GrayLine.PNG"  style="width:20px;height:auto;" />
                        <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" /> 
                    </div>
                    <div *ngIf="estado=='3/1'">
                      <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" />
                      <img src="assets/img/GrayLine.PNG"  style="width:20px;height:auto;" />
                      <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" /> 
                    </div>
                    <div *ngIf="estado=='3/2'">
                      <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" />
                      <img src="assets/img/GreenLine.PNG"  style="width:20px;height:auto;" />
                      <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" /> 
                    </div>
                    <div *ngIf="estado=='3/3'">
                      <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" />
                      <img src="assets/img/GreenLine.PNG"  style="width:20px;height:auto;" />
                      <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" /> 
                    </div>
                    <div *ngIf="estado=='2/0'">
                        <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                        <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                        <img src="assets/img/GrayBall.PNG"  style="width:20px;height:auto;" />  
                    </div>
                    <div *ngIf="estado=='2/1'">
                      <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" /> 
                    </div>
                    <div *ngIf="estado=='2/2'">
                      <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenLine.PNG" style="width:20px;height:auto;" />
                      <img src="assets/img/GreenBall.PNG"  style="width:20px;height:auto;" /> 
                    </div>
                    <div *ngIf="estado=='1/0'">
                      <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />  
                    </div>
                    <div *ngIf="estado=='1/1'">
                      <img src="assets/img/GreenBall.PNG" style="width:20px;height:auto;" />  
                    </div>
            </div>
        </div>

  <form id="transferenciaMismoTitularBFCRecibo-form9">

      <div *ngIf="checkFirmas=='true'">
          <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
              <ion-label>
                Número de Referencia
              </ion-label>
              <ion-input text-right type="text"   placeholder="{{referencia}}" ></ion-input>
          </ion-item>
      </div>

    <ion-item id="transferenciaMismoTitularBFCRecibo-input8">
      <ion-label>
        Cuenta Origen
      </ion-label>
      <ion-input text-right type="text" placeholder="{{cuentaDebito}}"></ion-input>
    </ion-item> 
    <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
      <ion-label>
        Cuenta Destino
      </ion-label>
      <ion-input text-right type="text" placeholder="{{cuentaCredito}}" ></ion-input>
    </ion-item>
    <ion-item id="transferenciaMismoTitularBFCRecibo-input9">
        <ion-label>
          Banco
        </ion-label>
        <ion-input text-right type="text" placeholder="{{bankName}}" ></ion-input>
      </ion-item>
    <ion-item id="transferenciaMismoTitularBFCRecibo-input11">
        <ion-label>
          Beneficiario
        </ion-label>
        <ion-input text-right type="text" placeholder="{{nombre}}"></ion-input>
    </ion-item>
    <ion-item id="transferenciaMismoTitularBFCRecibo-input11">
        <ion-label>
          Cédula
        </ion-label>
        <ion-input text-right type="text" placeholder="{{ciType}}{{ciNo}}"></ion-input>
    </ion-item>
    <ion-item id="transferenciaMismoTitularBFCRecibo-input11">
        <ion-label>
          Correo
        </ion-label>
        <ion-input text-right type="text" placeholder="{{email}}"></ion-input>
    </ion-item>
    <ion-item id="transferenciaMismoTitularBFCRecibo-input11">
        <ion-label>
          Motivo
        </ion-label>
        <ion-input text-right type="text" placeholder="{{motivo}}"></ion-input>
    </ion-item>
    <ion-item id="transferenciaMismoTitularBFCRecibo-input11">
        <ion-label>
          Concepto
        </ion-label>
        <ion-input text-right type="text" placeholder="{{conceptoValue}}"></ion-input>
    </ion-item>
    <ion-item id="transferenciaMismoTitularBFCRecibo-input10">
      <ion-label>
        Monto
      </ion-label>
      <ion-input  text-right type="text" placeholder="{{montoValue|number:'1.2-2'}}"></ion-input>
    </ion-item>
    <ion-item id="transferenciaMismoTitularBFCRecibo-input11">
      <ion-label>
        Fecha
      </ion-label>
      <ion-input text-right type="text" placeholder="{{fechaToSend}}"></ion-input>
    </ion-item>
  </form>
</div>
  <div class="spacer" style="width:320px;height:7px;" id="transferenciaMismoTitularBFCRecibo-spacer9"></div>
  <button id="transferenciaMismoTitularBFCRecibo-button6" ion-button clear color="positive" block small style="font-weight:600;" on-click="generateImage()">
    <ion-icon name="share-alt"></ion-icon>
    Compartir
  </button>
    <div *ngIf="checkAprobaciones != 'true'">
  <button id="transferenciaMismoTitularBFCRecibo-button7" ion-button clear color="positive" block small style="font-weight:600;" on-click="goToTDC()">
    <ion-icon name="git-compare"></ion-icon>
    Realizar otra operación
  </button>
  </div>
  <div *ngIf="checkAprobaciones == 'true'">
    <button id="transferenciaMismoTitularBFCRecibo-button7" ion-button clear color="positive" block small style="font-weight:600;" on-click="goToAprobacionRechazo()">
      <ion-icon name="git-compare"></ion-icon>
      Realizar otra operación
    </button>
  </div>
</div>
</ion-content>