<ion-header>
  <ion-navbar no-padding hideBackButton="true">
      <ion-grid no-padding no-border style="width:auto;height:70px;">
        <ion-row no-padding no-border>
          <ion-col class="topleft" no-border>
            <img menuToggle src="assets/img/menuPrincipal.PNG" style="margin-top:10px;margin-left:5px;margin-bottom:10px;width:auto;height:45px" outline class="btn" float-left id="next-button" default>
          </ion-col>
          <ion-col class="topleft" no-border>
            <img src="assets/img/headerLogo1.PNG" float-right style="width:auto;height:70px;margin-left:auto;margin-right:auto;" />
          </ion-col>
          <ion-col class="topright" no-border>
            <img src="assets/img/headerLogo2.PNG" float-left style="width:auto;height:70px;margin-left:auto;margin-right:auto;" />
          </ion-col>
          <ion-col class="topright">

          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
    <div id="mainContainer">
  <div id="posiciNConsolidada-markdown1" class="show-list-numbers-and-dots">
    <p style="color:#1D23B6;font-size:18px;">
      <strong>
        ¡Hola {{CO_NOMBRES}}!
      </strong>
    </p>
  </div>
  <div id="posiciNConsolidada-markdown2" class="show-list-numbers-and-dots">
    <p style="color:#1D23B6;">
      <strong>
        Cuentas en Bolívares
      </strong>
    </p>
  </div>
  <ion-list id="posiciNConsolidada-list3">

      <div *ngFor="let item of userSession.cuentas"> 
          <ion-item color="none" id="detalleDeLaCuenta-list-item22" on-click="goToDetalleDeLaCuenta(item)">
                  <ion-avatar item-left>
                      <img src="assets/img/S7XSL7lR7GT4h6M56uYZ_moneyIcon.PNG" />
                  </ion-avatar>
                  {{item[0]}}
            </ion-item>
      </div>

  </ion-list>
  <div class="spacer" style="width:300px;height:23px;" id="posiciNConsolidada-spacer2"></div>
  <div id="posiciNConsolidada-markdown3" class="show-list-numbers-and-dots">
    <p style="color:#1D23B6;">
      <strong>
        Tarjetas de crédito
      </strong>
    </p>
  </div>
  <ion-list id="posiciNConsolidada-list4">
      <div *ngFor="let item of userSession.tdc"> 
          <ion-item color="none" on-click="goToDetalleDeTarjeta(item)" id="posiciNConsolidada-list-item15">
              <ion-avatar item-left>
                  <img src="assets/img/jOQsQ00FS26CD8W2pfjj_cardIcon.PNG" />
                </ion-avatar>
                  {{item[0]}}
            </ion-item>
      </div> 
  </ion-list>
  </div>
</ion-content>